*{
    margin: 0;
    padding: 0;
}
.bg-pri{
    background-color:  rgb(117, 0, 0) !important;
}
body{
    background-color:  rgb(117, 0, 0) !important;
}
.carousel-inner{
    height: 350px;
}
.text-brown{
    color: rgb(117, 0, 0) !important;
}
.text-red{
    color: rgb(117, 0, 0);
}
.text-white{
    color: white;
}
.height-30P{
    height: 30px !important;
}
.btn{
    margin-right: 10px !important;
}
.col-md-4 img{
    height: 200px;
    width: 350px;
    box-shadow: -1px 0px 20px 12px rgba(60, 0, 0, 0.927);
}
.carousel{
    box-shadow: -1px 0px 20px 12px rgba(60, 0, 0, 0.927);
}
.featuretxt{
    padding-left: 120px;
}
.custom-underline{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: white;
}
.btnt:hover{
    background-color: rgb(117, 0, 0) !important;
}
.eventimg img{
    height: 250px;
    width: 400px;
    box-shadow: -1px 0px 20px 12px rgba(60, 0, 0, 0.927);
}
.btn-nav{
    border-color: black !important;
}
.btn-nav:hover{
    background-color: rgb(117, 0, 0) !important;
    color: white !important;
    border-color:black;
}
.hr-line{
    border-top: 2px;
}
.btn-modal:hover{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(255, 255, 255) !important;
    border-color:black;
}
.btn-nav2{
    border-color: black !important;
    color: black !important;
    background-color: white !important;
}
.btn-nav2:hover{
    background-color: rgb(117, 0, 0) !important;
    color: white !important;
    border-color:black;
}
/*side bar css*/


